<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crumble_000.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_015.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_016.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_017.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_018.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_019.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_020.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_021.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_022.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_023.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_024.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_025.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_026.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_027.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crumble_0.png</string>
            <key>size</key>
            <string>{3850,3796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bfb58ea6e5441cfeaaf0dbfe3640c67:5d4676b48ec11a0046c65df43a634fd1:4adf28f219445d90294b582137a99212$</string>
            <key>textureFileName</key>
            <string>crumble_0.png</string>
        </dict>
    </dict>
</plist>
