<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crumble_056.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_057.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_058.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_059.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,2},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_060.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_061.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_062.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_063.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,544},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_064.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_065.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_066.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_067.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,1086},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_068.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_069.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_070.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_071.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,1628},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_072.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_073.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_074.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_075.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,2170},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_076.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_077.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_078.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_079.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,2712},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_080.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_081.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_082.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1926,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>crumble_083.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2888,3254},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crumble_2.png</string>
            <key>size</key>
            <string>{3850,3796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bfb58ea6e5441cfeaaf0dbfe3640c67:5d4676b48ec11a0046c65df43a634fd1:4adf28f219445d90294b582137a99212$</string>
            <key>textureFileName</key>
            <string>crumble_2.png</string>
        </dict>
    </dict>
</plist>
