<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,250},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,250},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,498},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,498},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,746},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,746},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,994},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,994},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>title_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{246,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{246,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{494,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd01aa77d5452a7f5d017c26652319c:bc9ff4d7f60a5be1b8260287c36ba27c:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
