<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,310},{266,304}}</string>
                <key>offset</key>
                <string>{-263,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,236},{266,304}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,268},{270,306}}</string>
                <key>offset</key>
                <string>{-256,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,234},{270,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{264,308}}</string>
                <key>offset</key>
                <string>{-250,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,232},{264,308}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{274,306}}</string>
                <key>offset</key>
                <string>{-257,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,234},{274,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{266,304}}</string>
                <key>offset</key>
                <string>{-257,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,236},{266,304}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,580},{266,298}}</string>
                <key>offset</key>
                <string>{-258,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,242},{266,298}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{270,306}}</string>
                <key>offset</key>
                <string>{-256,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,234},{270,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{264,308}}</string>
                <key>offset</key>
                <string>{-250,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,232},{264,308}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,268},{274,306}}</string>
                <key>offset</key>
                <string>{-257,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,234},{274,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,576},{266,304}}</string>
                <key>offset</key>
                <string>{-257,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,236},{266,304}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,616},{266,298}}</string>
                <key>offset</key>
                <string>{-258,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,242},{266,298}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,578},{266,304}}</string>
                <key>offset</key>
                <string>{-263,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,236},{266,304}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_11_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{270,306}}</string>
                <key>offset</key>
                <string>{-256,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,234},{270,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,308}}</string>
                <key>offset</key>
                <string>{-251,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,232},{266,308}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{274,306}}</string>
                <key>offset</key>
                <string>{-257,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,234},{274,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,310},{266,304}}</string>
                <key>offset</key>
                <string>{-257,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,236},{266,304}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,616},{266,298}}</string>
                <key>offset</key>
                <string>{-258,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,242},{266,298}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_12_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{270,306}}</string>
                <key>offset</key>
                <string>{-256,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,234},{270,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{264,306}}</string>
                <key>offset</key>
                <string>{-250,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,234},{264,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,576},{274,300}}</string>
                <key>offset</key>
                <string>{-257,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,240},{274,300}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,884},{264,298}}</string>
                <key>offset</key>
                <string>{-256,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,242},{264,298}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,882},{266,290}}</string>
                <key>offset</key>
                <string>{-258,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,250},{266,290}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{264,288}}</string>
                <key>offset</key>
                <string>{-262,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,252},{264,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_22_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,310},{268,290}}</string>
                <key>offset</key>
                <string>{-255,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,250},{268,290}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,310},{264,294}}</string>
                <key>offset</key>
                <string>{-250,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,246},{264,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,878},{272,292}}</string>
                <key>offset</key>
                <string>{-256,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,248},{272,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,880},{264,290}}</string>
                <key>offset</key>
                <string>{-256,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,250},{264,290}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,884},{264,284}}</string>
                <key>offset</key>
                <string>{-257,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,256},{264,284}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barrel.png</string>
            <key>size</key>
            <string>{2032,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7392d2d51cee66e4bf1bda9059eff7:9dda232257cca73d65a5da70beb43371:d722a1743d83e6a79a6882d4d8b70132$</string>
            <key>textureFileName</key>
            <string>barrel.png</string>
        </dict>
    </dict>
</plist>
