<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrel_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,886},{324,206}}</string>
                <key>offset</key>
                <string>{173,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{491,311},{324,206}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,654},{328,208}}</string>
                <key>offset</key>
                <string>{171,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,309},{328,208}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,654},{354,214}}</string>
                <key>offset</key>
                <string>{181,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,306},{354,214}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,474},{410,222}}</string>
                <key>offset</key>
                <string>{184,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,300},{410,222}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{470,248}}</string>
                <key>offset</key>
                <string>{183,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,281},{470,248}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1754},{526,278}}</string>
                <key>offset</key>
                <string>{183,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,262},{526,278}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1472},{536,280}}</string>
                <key>offset</key>
                <string>{183,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,260},{536,280}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,330},{544,286}}</string>
                <key>offset</key>
                <string>{183,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,254},{544,286}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{552,290}}</string>
                <key>offset</key>
                <string>{183,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,250},{552,290}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1472},{558,294}}</string>
                <key>offset</key>
                <string>{182,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,246},{558,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1482},{560,296}}</string>
                <key>offset</key>
                <string>{183,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,244},{560,296}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{564,300}}</string>
                <key>offset</key>
                <string>{183,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,240},{564,300}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1476},{568,302}}</string>
                <key>offset</key>
                <string>{183,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,238},{568,302}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1472},{572,306}}</string>
                <key>offset</key>
                <string>{182,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,234},{572,306}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,954},{576,310}}</string>
                <key>offset</key>
                <string>{181,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,230},{576,310}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,640},{578,312}}</string>
                <key>offset</key>
                <string>{181,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,228},{578,312}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,886},{584,316}}</string>
                <key>offset</key>
                <string>{182,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,224},{584,316}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,886},{588,320}}</string>
                <key>offset</key>
                <string>{183,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,220},{588,320}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,330},{592,322}}</string>
                <key>offset</key>
                <string>{184,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,218},{592,322}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{594,324}}</string>
                <key>offset</key>
                <string>{183,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,216},{594,324}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,326}}</string>
                <key>offset</key>
                <string>{182,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,214},{596,326}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{596,326}}</string>
                <key>offset</key>
                <string>{182,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,214},{596,326}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{596,322}}</string>
                <key>offset</key>
                <string>{182,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,218},{596,322}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,326},{596,312}}</string>
                <key>offset</key>
                <string>{182,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,228},{596,312}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>barrel_00_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1266},{324,204}}</string>
                <key>offset</key>
                <string>{173,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,312},{324,204}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>carpet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1266},{324,204}}</string>
                <key>offset</key>
                <string>{173,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,312},{324,204}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carpet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b01b6f3f37370f1e0cdf9f390f8df4f3:cd5cfa185d905c55cde8fc6a51eba64c:012432cbcf592cebdb62d2c460cf6692$</string>
            <key>textureFileName</key>
            <string>carpet.png</string>
        </dict>
    </dict>
</plist>
