<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>metalbar_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{124,216}}</string>
                <key>offset</key>
                <string>{-192,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,44},{124,216}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{128,216}}</string>
                <key>offset</key>
                <string>{-196,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,46},{128,216}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{138,212}}</string>
                <key>offset</key>
                <string>{-207,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,54},{138,212}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{148,206}}</string>
                <key>offset</key>
                <string>{-223,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,67},{148,206}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{162,198}}</string>
                <key>offset</key>
                <string>{-242,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,84},{162,198}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{176,188}}</string>
                <key>offset</key>
                <string>{-262,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{176,188}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{190,176}}</string>
                <key>offset</key>
                <string>{-283,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,133},{190,176}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{202,160}}</string>
                <key>offset</key>
                <string>{-302,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,165},{202,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,142}}</string>
                <key>offset</key>
                <string>{-320,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,202},{216,142}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{226,120}}</string>
                <key>offset</key>
                <string>{-336,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,245},{226,120}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1740},{234,98}}</string>
                <key>offset</key>
                <string>{-349,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,290},{234,98}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{238,74}}</string>
                <key>offset</key>
                <string>{-358,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,337},{238,74}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1500},{238,48}}</string>
                <key>offset</key>
                <string>{-361,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,386},{238,48}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1144},{236,24}}</string>
                <key>offset</key>
                <string>{-362,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,430},{236,24}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1382},{238,26}}</string>
                <key>offset</key>
                <string>{-361,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,448},{238,26}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1740},{238,20}}</string>
                <key>offset</key>
                <string>{-361,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,441},{238,20}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>metalbar_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1728},{238,18}}</string>
                <key>offset</key>
                <string>{-361,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,441},{238,18}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>mettalbar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{124,216}}</string>
                <key>offset</key>
                <string>{-192,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,44},{124,216}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>metalbar.png</string>
            <key>size</key>
            <string>{220,1987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eba56e230e237acd433a929c37d0f45:dfc538162046214d7c35a14237139e36:d36745e21f7f1b175d53e8382567d104$</string>
            <key>textureFileName</key>
            <string>metalbar.png</string>
        </dict>
    </dict>
</plist>
