<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>radio_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,506},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1010},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1514},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,506},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1010},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1514},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2482,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,506},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1010},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1514},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,506},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2482,506},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,1010},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2482,1010},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1514},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>radio_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,502}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{494,502}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>radio.png</string>
            <key>size</key>
            <string>{2978,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:122ad755fef6505c6e0dcd8993b56b0d:1e54201cab7fa3ad0876bc9a60f709bc:eed519fbbdd46973eb5ec3b717bd80b1$</string>
            <key>textureFileName</key>
            <string>radio.png</string>
        </dict>
    </dict>
</plist>
