<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rock_low_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{342,128}}</string>
                <key>offset</key>
                <string>{136,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,412},{342,128}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>rock_low_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{342,128}}</string>
                <key>offset</key>
                <string>{136,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,412},{342,128}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>rock_low_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,130}}</string>
                <key>offset</key>
                <string>{135,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,410},{342,130}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>rock_low_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{340,132}}</string>
                <key>offset</key>
                <string>{135,-204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,408},{340,132}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>rock_low_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{342,130}}</string>
                <key>offset</key>
                <string>{135,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,410},{342,130}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>rock_low_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{342,128}}</string>
                <key>offset</key>
                <string>{136,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,412},{342,128}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>rock_low_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{342,128}}</string>
                <key>offset</key>
                <string>{136,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,412},{342,128}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rock_low.png</string>
            <key>size</key>
            <string>{790,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed03c4418c17099f655a422bce762ba9:bad996fcaa184bb02b89c45090344f66:8f22e46defb56f7ae9a84aef0db5173f$</string>
            <key>textureFileName</key>
            <string>rock_low.png</string>
        </dict>
    </dict>
</plist>
