<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>squareplank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1120},{210,294}}</string>
                <key>offset</key>
                <string>{-97,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,246},{210,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,900},{218,294}}</string>
                <key>offset</key>
                <string>{-92,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,246},{218,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{212,296}}</string>
                <key>offset</key>
                <string>{-87,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,244},{212,296}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,678},{220,294}}</string>
                <key>offset</key>
                <string>{-93,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,246},{220,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{214,292}}</string>
                <key>offset</key>
                <string>{-92,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,248},{214,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1090},{212,288}}</string>
                <key>offset</key>
                <string>{-93,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,252},{212,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1304},{212,288}}</string>
                <key>offset</key>
                <string>{-95,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,252},{212,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1766},{212,292}}</string>
                <key>offset</key>
                <string>{-96,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,248},{212,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{212,294}}</string>
                <key>offset</key>
                <string>{-98,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,246},{212,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1120},{210,294}}</string>
                <key>offset</key>
                <string>{-97,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,246},{210,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1120},{210,294}}</string>
                <key>offset</key>
                <string>{-97,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,246},{210,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,900},{218,294}}</string>
                <key>offset</key>
                <string>{-92,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,246},{218,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,216},{212,296}}</string>
                <key>offset</key>
                <string>{-87,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,244},{212,296}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{220,294}}</string>
                <key>offset</key>
                <string>{-93,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,246},{220,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1580},{214,292}}</string>
                <key>offset</key>
                <string>{-92,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,248},{214,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{212,288}}</string>
                <key>offset</key>
                <string>{-93,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,252},{212,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1796},{212,288}}</string>
                <key>offset</key>
                <string>{-95,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,252},{212,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1332},{246,292}}</string>
                <key>offset</key>
                <string>{-112,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,248},{246,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,430},{246,294}}</string>
                <key>offset</key>
                <string>{-113,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,246},{246,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{250,294}}</string>
                <key>offset</key>
                <string>{-114,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,246},{250,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{250,294}}</string>
                <key>offset</key>
                <string>{-114,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,246},{250,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{250,294}}</string>
                <key>offset</key>
                <string>{-114,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,246},{250,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,298},{250,294}}</string>
                <key>offset</key>
                <string>{-106,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,246},{250,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,296}}</string>
                <key>offset</key>
                <string>{-101,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,244},{246,296}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{254,294}}</string>
                <key>offset</key>
                <string>{-108,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,246},{254,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{248,292}}</string>
                <key>offset</key>
                <string>{-107,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,248},{248,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,594},{246,288}}</string>
                <key>offset</key>
                <string>{-108,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,252},{246,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,842},{246,288}}</string>
                <key>offset</key>
                <string>{-110,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,252},{246,288}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1518},{246,292}}</string>
                <key>offset</key>
                <string>{-112,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,248},{246,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{246,294}}</string>
                <key>offset</key>
                <string>{-113,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,246},{246,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{250,294}}</string>
                <key>offset</key>
                <string>{-114,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,246},{250,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>squareplank_11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{250,294}}</string>
                <key>offset</key>
                <string>{-114,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,246},{250,294}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>squareplank.png</string>
            <key>size</key>
            <string>{884,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf0f6d61c83770cb3942786974887a4:d05f045efe394a85becc2971dd8e9118:55859c3451f5d4fa8bf505a9c40a4328$</string>
            <key>textureFileName</key>
            <string>squareplank.png</string>
        </dict>
    </dict>
</plist>
