<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trans_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1072},{302,382}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{302,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1072},{302,382}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{302,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2910},{302,382}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{302,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,3294},{302,382}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{302,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2526},{350,382}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{350,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2100},{382,424}}</string>
                <key>offset</key>
                <string>{33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,71},{382,424}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2170},{382,470}}</string>
                <key>offset</key>
                <string>{32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,70},{382,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1086},{332,470}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,70},{332,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1628},{366,470}}</string>
                <key>offset</key>
                <string>{-38,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,70},{366,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2642},{414,470}}</string>
                <key>offset</key>
                <string>{-64,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,70},{414,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,3114},{438,470}}</string>
                <key>offset</key>
                <string>{-76,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,70},{438,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2642},{446,470}}</string>
                <key>offset</key>
                <string>{-80,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,70},{446,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,600},{452,470}}</string>
                <key>offset</key>
                <string>{-83,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,70},{452,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2170},{448,470}}</string>
                <key>offset</key>
                <string>{-81,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,70},{448,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3114},{444,470}}</string>
                <key>offset</key>
                <string>{-79,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,70},{444,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3114},{444,470}}</string>
                <key>offset</key>
                <string>{-79,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,70},{444,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3586},{444,470}}</string>
                <key>offset</key>
                <string>{-79,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,70},{444,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,3586},{442,470}}</string>
                <key>offset</key>
                <string>{-78,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,70},{442,470}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,540}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{634,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{634,540}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{634,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{596,540}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,0},{596,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{574,540}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,0},{574,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{570,540}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,0},{570,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_12_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,3678},{302,382}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{302,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>trans_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,3678},{302,382}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,71},{302,382}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trans.png</string>
            <key>size</key>
            <string>{1221,4062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d83e93f5c1d7563049be32f04945d93:7ff78459ccfb8b1cc18bd47d1e667588:8462725bf399143c08f52f1fb0401d96$</string>
            <key>textureFileName</key>
            <string>trans.png</string>
        </dict>
    </dict>
</plist>
