<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>windows_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,392}}</string>
                <key>offset</key>
                <string>{262,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{627,14},{230,392}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>windows_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{230,392}}</string>
                <key>offset</key>
                <string>{262,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{627,14},{230,392}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>windows_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{230,392}}</string>
                <key>offset</key>
                <string>{262,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{627,14},{230,392}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>windows_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{230,392}}</string>
                <key>offset</key>
                <string>{262,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{627,14},{230,392}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>windows.png</string>
            <key>size</key>
            <string>{234,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e7f2feaee96f50233308c4930b46287:0b11bf5204f11e2ac829623efee60351:bf2871408a91825bfe720e524c70bb02$</string>
            <key>textureFileName</key>
            <string>windows.png</string>
        </dict>
    </dict>
</plist>
