<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wood_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,104},{126,56}}</string>
                <key>offset</key>
                <string>{-221,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,170},{126,56}}</string>
                <key>offset</key>
                <string>{-221,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,172},{126,56}}</string>
                <key>offset</key>
                <string>{-218,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,172},{126,56}}</string>
                <key>offset</key>
                <string>{-216,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,168},{128,56}}</string>
                <key>offset</key>
                <string>{-218,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{128,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,172},{126,56}}</string>
                <key>offset</key>
                <string>{-221,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,104},{126,56}}</string>
                <key>offset</key>
                <string>{-221,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,172},{126,56}}</string>
                <key>offset</key>
                <string>{-221,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,218},{126,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{128,58}}</string>
                <key>offset</key>
                <string>{-222,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,218},{128,58}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{132,60}}</string>
                <key>offset</key>
                <string>{-222,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,221},{132,60}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{138,66}}</string>
                <key>offset</key>
                <string>{-224,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,223},{138,66}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,98},{146,68}}</string>
                <key>offset</key>
                <string>{-225,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,228},{146,68}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,96},{152,74}}</string>
                <key>offset</key>
                <string>{-226,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,233},{152,74}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,92},{160,78}}</string>
                <key>offset</key>
                <string>{-227,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,240},{160,78}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{166,84}}</string>
                <key>offset</key>
                <string>{-228,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,246},{166,84}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{174,88}}</string>
                <key>offset</key>
                <string>{-229,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,254},{174,88}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{180,92}}</string>
                <key>offset</key>
                <string>{-229,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,262},{180,92}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{186,94}}</string>
                <key>offset</key>
                <string>{-229,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,271},{186,94}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{190,98}}</string>
                <key>offset</key>
                <string>{-229,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,277},{190,98}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_frame_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,100}}</string>
                <key>offset</key>
                <string>{-229,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,275},{192,100}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wood_frame.png</string>
            <key>size</key>
            <string>{1020,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62df56e83a7f720d5e27e8ea775d4050:9f9cf399240ee7a89073dc1f77e485d8:60cc37438ebd3fd469972f29d08bc625$</string>
            <key>textureFileName</key>
            <string>wood_frame.png</string>
        </dict>
    </dict>
</plist>
