<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wood_belt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{102,86}}</string>
                <key>offset</key>
                <string>{-178,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,192},{102,86}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{102,88}}</string>
                <key>offset</key>
                <string>{-178,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,192},{102,88}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{104,90}}</string>
                <key>offset</key>
                <string>{-179,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,204},{104,90}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{104,92}}</string>
                <key>offset</key>
                <string>{-179,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,217},{104,92}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{106,92}}</string>
                <key>offset</key>
                <string>{-179,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,232},{106,92}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,94}}</string>
                <key>offset</key>
                <string>{-179,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,245},{106,94}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{104,96}}</string>
                <key>offset</key>
                <string>{-179,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,257},{104,96}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{104,98}}</string>
                <key>offset</key>
                <string>{-179,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,269},{104,98}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{102,98}}</string>
                <key>offset</key>
                <string>{-179,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,283},{102,98}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{102,98}}</string>
                <key>offset</key>
                <string>{-180,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,296},{102,98}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wood_belt_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{102,98}}</string>
                <key>offset</key>
                <string>{-180,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,296},{102,98}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wood_belt.png</string>
            <key>size</key>
            <string>{110,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c8be8d8660fbadc6b8f7fe506f730a:3d878ca3900b6bf622848dc57c2ff602:9e68d511aba07cf1ea0a9f79ad33872d$</string>
            <key>textureFileName</key>
            <string>wood_belt.png</string>
        </dict>
    </dict>
</plist>
