<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4012},{1,1}}</string>
                <key>offset</key>
                <string>{-479.5,269.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2},{882,62}}</string>
                <key>offset</key>
                <string>{10,239}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{882,62}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,3128},{886,132}}</string>
                <key>offset</key>
                <string>{8,204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{886,132}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2134},{884,206}}</string>
                <key>offset</key>
                <string>{5,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{884,206}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,3032},{882,282}}</string>
                <key>offset</key>
                <string>{1,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{882,282}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2342},{882,356}}</string>
                <key>offset</key>
                <string>{-4,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{882,356}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3128},{882,432}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{882,432}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1628},{878,504}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{878,504}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{882,540}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{882,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1086},{878,540}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{878,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{884,540}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{884,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{884,540}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{884,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{884,540}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{884,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{884,540}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{884,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{884,540}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{884,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,544},{884,540}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{884,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2170},{880,506}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,506}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2678},{880,448}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,448}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,3128},{880,388}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,388}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2700},{880,330}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,330}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,3032},{880,272}}</string>
                <key>offset</key>
                <string>{-1,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,272}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,3032},{880,214}}</string>
                <key>offset</key>
                <string>{-1,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,214}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,3916},{880,156}}</string>
                <key>offset</key>
                <string>{-1,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,156}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,3032},{880,96}}</string>
                <key>offset</key>
                <string>{-1,222}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{880,96}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1086},{524,38}}</string>
                <key>offset</key>
                <string>{177,251}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,0},{524,38}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4012},{1,1}}</string>
                <key>offset</key>
                <string>{-479.5,269.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>menu_10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4012},{1,1}}</string>
                <key>offset</key>
                <string>{-479.5,269.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1843,4077}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515382914e60b7f65df5dd2fff3098c7:93831b57eca49cb3c0d472d8770a6f65:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
